<html>
    <header>
        <title>Javascript Repositories</title>
    </header>
<body>
    <h1>Top Javascript Github Repositories</h1>
    <p><b>Total Javascript Repositories:</b> {{val}}</p>
    <p><b>Top 10 javascript GITHUB Repositories are:</b> {{nme}}</p>
    {{!-- <p>Name is: {{nm1}}</p> --}}
    {{> footer}}
</body>


</html>